$very_dark_blue : hsl(233, 47%, 7%);
$dark_desaturated_blue : hsl(244, 38%, 16%);
$soft_violet_accent: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$white_transparent_75: hsla(0, 0%, 100%, 0.75);
$white_transparent_60: hsla(0, 0%, 100%, 0.6);
