@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5% /*For taking the 1rem value to 10px*/;
  background-color: $very_dark_blue;

  @include responsive(desktop, large){
    font-size: 50%;
  }
}

body{
  box-sizing: border-box;
}

main{
  height: 100vh;
  width: 100vw;
}

.attribution{
  @include centerElement(93%, 50%);
  color: $white;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 2.2rem;

  @include responsive(desktop, small){
    font-size: 1.8rem;
  }

  a{
    text-decoration: none;
    color: $soft_violet_accent;
  }
}

